nav{

}

.HeaderTheme {
     flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
 }

.themeIcoNav{
    font-size: 30px;
}