$dark-theme: true !default;
$border-color: #222;
$background-color: #b20505;
$bgDark: #1c1c25;
$bgLight: #92a4a0;
$fontDark:rgb(208, 208, 208);
$fontLight:darkslategrey;
$bgHangDark: #c2baba;
$bgHangLight: #c1abc2;
